/* a little dirty work... */

.masthead {
	border: none;
	background-color: #1D222B;
}

.masthead__inner-wrap {
	background-color: #1D222B;
}

.greedy-nav {
	background-color: #1D222B;
}

.page__footer {
	background-image: url('/assets/image/bg-short.png');
	background-size: 70%;
	background-position-y: 50%;

}
